/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.hoverPink {
  color: #ac106b;
  transform: scale(1.3, 1.3);
  transition-delay: 1s;
  transition: 0.8s;
}
.titles {
  color: #ac106b;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
}
html,
body {
  height: 100%;
  padding: 0% 2% 0% 2%;
  background: #fcf6f6;
}
header {
  width: 100%;
  height: 95vh;
}
header nav {
  display: flex;
  justify-content: flex-end;
  /*border: 2px solid magenta;*/
}
header nav a {
  text-decoration: none;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5rem;
  /*text-shadow: .5px .5px rgb(243, 115, 136);*/
  padding: 3%;
  color: #424242;
}
header nav a:hover {
  color: #ac106b;
  transform: scale(1.3, 1.3);
  transition-delay: 1s;
  transition: 0.8s;
}
header .name-container {
  display: flex;
  justify-content: space-around;
  border: 3px solid #f8bfdc;
  background: #ffe6ef;
  padding: 2%;
  width: 100%;
  height: 83%;
}
@media (max-width: 768px) {
  header .name-container {
    flex-direction: column;
    align-items: center;
  }
}
header .name-container .header-text {
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  width: 60%;
}
@media (max-width: 1000px) {
  header .name-container .header-text {
    width: 50%;
  }
}
@media (max-width: 768px) {
  header .name-container .header-text {
    height: 50vh;
  }
}
header .name-container h1 {
  font-family: 'Sacramento', cursive;
  text-shadow: 1px 1px pink;
  color: #ac106b;
  font-size: 5.5rem;
  text-align: center;
}
@media (max-width: 758px) {
  header .name-container h1 {
    font-size: 3.5rem;
  }
}
header .name-container h3 {
  /*border: 2px solid pink;*/
  font-family: 'Alegreya Sans', sans-serif;
  color: #424242;
  text-shadow: 1px 1px #e6d6d9;
  font-size: 2rem;
  text-align: center;
  padding: 3%;
}
header .name-container .header-img {
  width: 30%;
  height: 100%;
  border: 3px ridge #f5b1d3;
  border: 2px solid purple;
  background-image: url(../img/julie.jpg);
  background-size: cover;
  margin-left: 2%;
}
@media (max-width: 1000px) {
  header .name-container .header-img {
    width: 40%;
  }
}
@media (max-width: 768px) {
  header .name-container .header-img {
    height: 50vh;
  }
}
.first-section {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 1%;
  border-bottom: 2px dotted #b3b3b3;
}
@media (max-width: 768px) {
  .first-section {
    flex-direction: column;
    align-items: center;
  }
}
.first-section h1 {
  color: #ac106b;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
}
.first-section .about {
  padding: 4%;
  width: 100%;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.6rem;
  border: 2px solid green;
}
.first-section .about h1 {
  padding-bottom: 5%;
}
.first-section .skills-container {
  padding: 3%;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  border: 2px solid purple;
}
.first-section .skills-container .skills-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.first-section .skills-container .skills-logos .logo {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 5%;
  border: 2px solid gray;
  margin: 2%;
}
@media (max-width: 1000px) {
  .first-section .skills-container .skills-logos .logo {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .first-section .skills-container .skills-logos .logo {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .first-section .skills-container .skills-logos .logo {
    font-size: 1rem;
  }
}
.first-section .skills-container .skills-logos .logo:hover {
  color: #ac106b;
  transform: scale(1.3, 1.3);
  transition-delay: 1s;
  transition: 0.8s;
  transform: scale(1.1, 1.1);
  border: 2px dotted pink;
}
.first-section .first {
  padding: 4%;
  color: #ff4684;
}
.first-section .second {
  padding: 4%;
  color: #f51fb5;
}
.first-section .fourth {
  color: #ca34cf;
  padding: 2%;
}
.first-section .third {
  color: #7a4ac7;
  padding: 4%;
}
.second-section {
  /*border: 2px solid purple;*/
  width: 100%;
  height: 108vh;
}
.second-section h1 {
  color: #ac106b;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  padding: 4% 0% 2% 0%;
}
.second-section h2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0.5px solid #b3b3b3;
  width: 40%;
  text-align: center;
  padding: 1% 0% 1% 0%;
  background: #ffe6ef;
}
.second-section p {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3rem;
  border: 0.5px solid #b3b3b3;
  width: 40%;
  text-align: center;
  padding: 1% 0% 1% 0%;
}
.second-section .work {
  display: flex;
}
.second-section .education {
  display: flex;
}
footer {
  width: 100%;
  height: 30vh;
  display: flex;
  margin-bottom: 4%;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #f5b1d3;
  background: #f3edf0;
}
footer h1 {
  color: #ac106b;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  padding-top: 1.5%;
  color: #ff4684;
}
footer nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
footer nav a {
  text-decoration: none;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.5rem;
  padding: 1%;
  color: #424242;
}
footer nav a:hover {
  color: #ac106b;
  transform: scale(1.3, 1.3);
  transition-delay: 1s;
  transition: 0.8s;
  transform: scale(1.2, 1.2);
}
